@font-face {
    font-family: "Montserrat-";
    src: url("Montserrat-.ttf") format("truetype");
}

html {
    font-size: 20px; 
  }

body {
    font-family: "Montserrat-", sans-serif;
    background-color: gray;
} 
.header {
    max-width: 1000px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: auto;
    box-sizing: border-box; 
    max-width: 1000px;
}

.titulo {
     display: flex;               /* Pone imagen y texto en fila */
     align-items: center;         /* Alinea verticalmente */
     justify-content: center;              /* Espacio entre imagen y texto */
     color: #867474;
     margin: 0 auto;
     padding: 20px;
     height: 20vh;
     box-sizing: border-box;
}
 
.imagen {
     height: 170px;              /* Misma altura que el texto */
     width: auto;               /* Mantiene proporción */
     box-sizing: border-box;
     margin: 0;
}
 
.menu {
     position: relative;
     display: flex;
     justify-content: space-around; /* pone espacios entre las palabras */
     align-items: center;
     color: #867474;
     margin: 0;
     padding: 20px;
     max-width: 1150px; 
     box-sizing: border-box;
     overflow-wrap: break-word;
     }

.container-2 {
    background-color: #e8d8f2;
    max-width: 1000px;
    padding: 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

.argentina {
    display: flex;
    justify-content: center;
}

.card {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.container-3{
    padding: 20px;
    margin: 0 auto;
    max-width: 1000px;
    box-sizing: border-box;
}

.image {
    width: 400px;
    height: 200px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    width: 1000px;
    margin-top: auto;
    box-sizing: border-box; 
    margin: 0 auto;
    background-color: white;

}

.copyright {
    float: left;
    width: auto;
    white-space: normal;
    line-height: normal;
    padding: 0px;
    box-sizing: border-box;
    margin: 0;
    width: 1150px;
}

.copyright a {
    text-decoration: underline;
}

.ir {
    float: right;
    width: auto;
    white-space: normal;
    line-height: normal;
    text-align: right;
    padding: 0px;
    box-sizing: border-box;
    margin: 0;
    width: 1150px;
}

.ir a {
    text-decoration: none;
    font-size: 1.5rem;
    overflow: hidden;
    text-align: center;
    width: max-content;
    color: #bfae9f;
}
  
  .ir a:hover {
    text-decoration: underline;
}