@font-face {
    font-family: "Alef-Regular";
    src: url("Alef-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "RobotoCondensed-Italic-Variable";
    src: url("RobotoCondensed-Italic-Variable.ttf") format("truetype");
}
@font-face {
    font-family: "Oswald";
    src: url("Oswald.ttf") format("truetype");
}

html {
    font-size: 20px; 
  }

body {      
    font-family: "Alef-Regular", sans-serif;
    background-color: gray;
}

.header{
    max-width: 960px;
    background-color: white;
    margin: 0 auto;
}
.contenedor {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 12px;
   height: 90px;
}

.titulo {
    display: flex;               /* Pone imagen y texto en fila */
    align-items: center;         /* Alinea verticalmente */
    justify-content: center;              /* Espacio entre imagen y texto */
    color: #7f8287;
    margin: 0;
    padding: 20px;
    width: 82%;
    font-size: 46px;
    font-weight: 100;
  }

.imagen {
    height: 120px;              /* Misma altura que el texto */
    width: 120px;               /* Mantiene proporción */
    margin: 0px;
}

.menu {
    display: flex;
    justify-content: space-around; /* pone espacios entre las palabras */
    padding: 19px;
    margin-top: 12px;
    overflow-wrap: break-word;
}
  
.menu a {
    text-decoration: underline;
    font-size: 22px;
    color: #37839b;
}

.sub{
    background-color: white;
    max-width: 960px;
    margin: 0 auto;
    height: 130px;
}

.subtitulo {
    background: linear-gradient(to right, #5a99a0 0%, #e2dedf 30%, #e2dedf 100%);
    text-align: center;
    padding: 27px;
    color: #565857;
    margin: 0 auto;
    font-size: 40px;
    font-weight: 100;
    max-width: 920px;
    height: 100px;
    font-family:"Oswald" ;
}

.hr {
    max-width: 980px;
    margin-top: 23px;
    
}

.tarjetas {
    display: flex; /*convierte en un contenedor flixible*/
    justify-content: space-around; /* Espacio entre tarjetas */
    flex-wrap: wrap;               /* Para que bajen en pantallas chicas */
    max-width: 960px;
    background-color: rgb(255, 255, 255);
    margin: 0px auto;
    align-items: stretch;
    height: 100%;
}
.tarjeta {
    background-color: #e3e4fb;
    border: 1px solid #ffffff;
    padding: 12px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 12px;
    border-radius: 8px;
    flex: 1 1 30%;
}
.color1 {
    background:#e2e4fb ;
}

.color2 {
    background-color: #f0d8e6;
}

.color3 {
    background-color: #d0c1d8;
    }
h2 {
    color: black;
    font-size: 25px;
    text-align: center;
    margin: 5px;
}

h3 {
    font-size: 17px;
    text-align: center;
    margin: 23px;
}

.formulario {
    padding-left: 5px;
    padding-right: 11px;
}

  
.formulario form {
    display: flex;
    flex-direction: column;
}
  
.formulario label {
    margin-bottom: 0px;
    font-size: 16px;
    margin-top: 3px;
}
  
.formulario input,
.formulario textarea {
    border: 1px solid #ccc;
    font-size: 16px;
    margin-right: 20px;
}

.pregunta {
    margin: 1px;
    font-size: 16px;
}
.opciones-viaje {
    list-style: none;       
    padding: 37px;
    display: flex;
    flex-direction: column;  
    margin-top: 0px;
  }
  
  .opciones-viaje li {
    display: flex;
  }
  
  .opciones-viaje label {
    font-size: 15px;
    cursor: pointer;
  }
  .opciones-viaje input[type="radio"] {
    appearance: none;
    width: 12px;
    height: 12px;
    border: none;
    cursor: pointer;
    background-color: #dfdfdf;
    border: 1px solid #999;
    transition: all 0.2s ease;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    border-radius: 3px;
  }

  .opciones-viaje input[type="radio"]:hover {
    border-color: #555;           /* Cambio de color al pasar el mouse */
  }
  
  .opciones-viaje input[type="radio"]:checked {
    background-color: #444;       /* Fondo oscuro al seleccionar */
    border-color: #444;           /* Borde se hace igual al fondo */
  }

.tabla-destinos {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed;
}
  
.tabla-destinos th,
.tabla-destinos td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    word-wrap: break-word;     /* rompe palabras largas */
    word-break: break-word;    /* fuerza el corte si es necesario */
    white-space: normal;       /* permite múltiples líneas */
}
  
.uno {
    padding-left: 15px;
    list-style-type: disc;
    text-align: left;
    line-height: 39px;
    font-size: 18px;
  }
  
.dos {
    padding-left: 20px;
    list-style-type: disc;
    text-align: left;
    line-height: 24px;
    margin-top: 44px;
    font-size: 18px;
  }

  .dos li {
    margin-bottom: 20px;  /* Espacio entre ítems */
  }

.dos li:nth-child(2),
.dos li:nth-child(4) {
  color: #777; 
}
  
  .boton-enviar {
    margin: 20px;
    padding: 10px 20px;
    background-color: #00c3ff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .boton-enviar:hover {
    background-color: #444;
  }
  
  
.pie-de-pagina {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    width: 100%;
    margin-top: auto;
    box-sizing: border-box;

}

.copyright {
    float: left;
    width: auto;
    white-space: normal;
    line-height: normal;
    padding: 0px;
    box-sizing: border-box;
    margin: 0;
}

.copyright a {
    text-decoration: underline;
}

.ir {
    float: right;
    width: auto;
    white-space: normal;
    line-height: normal;
    text-align: right;
    padding: 0px;
    box-sizing: border-box;
    margin: 0;
}

.ir a {
    text-decoration: underline;
    font-size: 1.5rem;
    overflow: hidden;
    text-align: center;
    width: max-content;
    color: #bfae9f;
}
  
  .ir a:hover {
    text-decoration: underline;
}