@font-face {
    font-family: "Alef-Regular";
    src: url("Alef-Regular.ttf") format("truetype");
}

html {
    font-size: 20px; 
  }

body {      
    font-family: "Alef-Regular", sans-serif;
    background-color: gray;
}

.header{
    max-width: 960px;
    background-color: white;
    margin: 0 auto;
    padding-top: 9px;
}
.contenedor {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 30px;
   margin-top: 7px; 
   height: 90px;
}

.titulo {
    display: flex;               /* Pone imagen y texto en fila */
    align-items: center;         /* Alinea verticalmente */
    justify-content: center;              /* Espacio entre imagen y texto */
    color: #867474;
    margin: 0;
    padding: 20px;
    width: 88%;
    font-size: 50px;
  }

.imagen {
    height: 120px;              /* Misma altura que el texto */
    width: 120px;               /* Mantiene proporción */
    margin: 0px;
}

.menu {
    position: relative;
    display: flex;
    justify-content: space-around; /* pone espacios entre las palabras */
    align-items: center;
    color: #867474;
    margin: 0 auto;
    padding: 21px;
    overflow-wrap: break-word;
}
  
.menu a {
    text-decoration: underline;
    font-size: 32px;
    color: #37839b;
}

.sub{
    background-color: white;
    max-width: 960px;
    box-sizing: border-box;
    margin: 0 auto;
    height: 130px;
}

.subtitulo {
    background: linear-gradient(to right, #5a99a0 0%, #e2dedf 30%, #e2dedf 100%);
    text-align: center;
    padding: 18px;
    color: #565857;
    margin: 0 auto;
    font-size: 42px;
    max-width: 925px;
    height: 96px;
}

.hr {
    max-width: 980px;
    margin-top: 23px;
    
}

.tarjetas {
    display: flex; /*convierte en un contenedor flixible*/
    justify-content: space-around; /* Espacio entre tarjetas */
    flex-wrap: wrap;               /* Para que bajen en pantallas chicas */
    max-width: 960px;
    background-color: rgb(255, 255, 255);
    margin: 0px auto;
    align-items: stretch;
    height: 100%;
}
.tarjeta {
    background-color: #e3e4fb;
    border: 1px solid #ffffff;
    padding: 12px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 12px;
    border-radius: 8px;
    flex: 1 1 30%;
}
.color1 {
    background:#e2e4fb ;
}

.color2 {
    background-color: #f0d8e6;
}

.color3 {
    background-color: #d0c1d8;
    }
h2 {
    color: black;
    font-size: 25px;
    text-align: center;
    margin: 0px;
}

h3 {
    font-size: 17px;
    text-align: center;
    margin: 23px;
}

.formulario {
    padding-left: 5px;
    padding-right: 11px;
}

  
.formulario form {
    display: flex;
    flex-direction: column;
}
  
.formulario label {
    margin-bottom: 0px;
    font-size: 16px;
    margin-top: 4px;
}
  
.formulario input,
.formulario textarea {
    border: 1px solid #ccc;
    font-size: 16px;
    margin-right: 20px;
}

.pregunta {
    margin: 1px;
    font-size: 16px;
}
.opciones-viaje {
    list-style: none;       
    padding: 30px;
    display: flex;
    flex-direction: column;  
    margin-top: 4px;
  }
  
  .opciones-viaje li {
    display: flex;
  }
  
  .opciones-viaje label {
    font-size: 15px;
    cursor: pointer;
  }
  .opciones-viaje input[type="radio"] {
    appearance: none;
    width: 14px;
    height: 14px;
    border: none;
    cursor: pointer;
    background-color: #dfdfdf;
  }


  /*
.formulario button {
    margin-top: 15px;
    padding: 10px;
    background-color: #41b3d6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.formulario button:hover {
    background-color: #3491ae;
}
*/
.tabla-destinos {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed;
}
  
.tabla-destinos th,
.tabla-destinos td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    word-wrap: break-word;     /* rompe palabras largas */
    word-break: break-word;    /* fuerza el corte si es necesario */
    white-space: normal;       /* permite múltiples líneas */
}
  
.uno {
    padding-left: 14px;
    list-style-type: disc;
    text-align: left;
    line-height: 38px;
  }
  
.dos {
    padding-left: 19px;
    list-style-type: disc;
    text-align: left;
    line-height: 24px;
    margin-top: 44px;
  }
  
.pie-de-pagina {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    width: 100%;
    margin-top: auto;
    box-sizing: border-box;

}

.copyright {
    float: left;
    width: auto;
    white-space: normal;
    line-height: normal;
    padding: 0px;
    box-sizing: border-box;
    margin: 0;
}

.copyright a {
    text-decoration: underline;
}

.ir {
    float: right;
    width: auto;
    white-space: normal;
    line-height: normal;
    text-align: right;
    padding: 0px;
    box-sizing: border-box;
    margin: 0;
}

.ir a {
    text-decoration: underline;
    font-size: 1.5rem;
    overflow: hidden;
    text-align: center;
    width: max-content;
    color: #bfae9f;
}
  
  .ir a:hover {
    text-decoration: underline;
}